@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {

    border-radius: 10px;
    @include m.boton (v.$azul, v.$blanco)

    
}

.botones-calendario {

    text-align: center;  
    margin-top: 20px;
    
    button {
        background-color: v.$blanco;
        color: v.$azul;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

    button:hover {
        background-color: v.$azul;
        color: v.$blanco;
    }
}