@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {

    padding: 3rem 0;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
    }

    button {
        margin: 0 0 1rem 0;
    }
    input {
        margin: 2rem 0;
    }
}

.ocultar {
    visibility: hidden;
}

.compra {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
