@use 'base/variables' as v;
@use 'base/mixins' as m;

.seleccionada {
    background-color: v.$verde !important;
}

.formato-tabla {
    background-color: v.$gris;
}

th {
    vertical-align: middle;
}

td {
    cursor: pointer;
    height: 40px;
    vertical-align: middle;
    padding: 0 !important;
    div {
        user-select: none;
    }
    
}

.unContenido {
    div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}

.Crossfit {
    background-color: v.$rojo;
    font-weight: v.$bold;
}

.OpenBox {
    background-color: v.$blanco;
    font-weight: v.$bold;
    color: v.$negro;
}
.Endurance {
    background-color:rgb(251, 255, 0);
    font-weight: v.$bold;
    color: v.$negro;
}
.Halterofilia {
    background-color: rgb(242, 16, 167);
    font-weight: v.$bold;
    color: v.$negro;
}
.Gymnastic {
    background-color: rgb(101, 24, 255);
    font-weight: v.$bold;
    color: v.$negro;
}

.boton-reservar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diaActual {
    background-color: v.$verde !important;
}