@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: v.$separacion v.$separacion 0 v.$separacion;
    @media (max-width: 992px) {
        
        margin: v.$separacion 0 0 0;
    }
    
}
.campo-resultado {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
    width: 100%;
    @include m.tablet {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }
    
    label {
        width: 100px;
    }

    input {
        flex-grow: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 10px;
        margin-left: 10px;
    }
    
}